services:
  php85:
    build:
      context: .
      dockerfile: Dockerfile.php85
    image: php-labs:8.5
    container_name: php_labs_85
    ports:
      - "8081:80"
    volumes:
      - .:/var/www/html

  php74:
    build:
      context: .
      dockerfile: Dockerfile.php74
    image: php-labs:7.4
    container_name: php_labs_74
    ports:
      - "8082:80"
    volumes:
      - .:/var/www/html

  browser-sync:
    image: node:alpine
    container_name: php_live_reload
    network_mode: "host"
    volumes:
      - .:/source
      - ./bs-config.js:/bs-config.js
    working_dir: /source
    command: sh -c "npm install -g browser-sync && browser-sync start --config /bs-config.js"